.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:20px;
    }
