.nav {
  background: #14151a;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  border-bottom: 1px solid #dbdbdb;

}

.heading {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navmenu {
  display: flex;
  align-items: center;
  margin-right: -24px;

}
.navlink {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;

}

.navlink:active {
  color: #15cdfc;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbtn {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.navbtnlink {
  width: 96px;
  height: 44px;
  border-radius: 20px;
  background: #256ce1;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 14px;
  text-align: center;
  line-height: 40px;
}

.navbtnlink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

.user {
  width: 96px;
  height: 44px;
  border-radius: 20px;
  background: #256ce1;
  color: #fff;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 14px;
  text-align: center;
  line-height: 40px;
}

.bars {
  display: none;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .navmenu {
    position: absolute;
    flex-direction: column;
    justify-content: start;
    top: -100%;
    right: 0%;
    width: 40%;
    height: 40%;
    transition: 0.4s;
    z-index: 11;
    background: #14151a;
    border-left: 1px solid white;
  }

  .navmenu.show {
    top:80px;
  }

  .navlink {
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid white;  
  }
  
  .navbtn {
    margin-right: 50px;
  }

  .navbtnlink {
    width: 60px;
    height: 44px;
  }

  .bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-75%, 140%);
    font-size: 1.4rem;
    cursor: pointer;
  }
}