.watch-container {
    max-width: 1140px;
    margin: auto;
    padding-top: 2rem;
}

.watch-heading {
    display: flex;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    padding: .7rem 1rem;
    font-weight: 700;
}

.stock-row {
    display: flex;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin-top: 1rem;
    padding: .7rem 1rem;
}

.ticker {
    position: absolute;
    margin-left: 10%;
}

.price {
    position: absolute;
    margin-left: 22.5%;
}

.percent {
    position: absolute;
    margin-left: 35%;
}

.change {
    position: absolute;
    margin-left: 47.5%;
}

.times {
    position: absolute;
    margin-left: 55%;
}

.times:hover {
    transform: scale(1.5);
    transition: .2s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .watch-container {
        padding-top: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .change {
        display: none;
    }
    .price {
        margin-left: 30%;
    }

    .percent {
        margin-left: 50%;
    }

    .times {
        margin-left: 70%;
    }
}