* {
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeContainer {
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../../assets/wallStreet.jpg');
  background-size: cover;
  background-position: center;
}

.homeText {
  color: white;
  font-weight: 400;
}