.nav {
  background: #111827;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  border-bottom: 1px solid black;
}

.heading {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-size: xx-large;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: -24px;

}
.navlink {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;

}

.navlink:hover {
  border-radius: 20px;
  background: rgba(52, 56, 64, 50);
  height: 50%;
  color: white; 
}

.navlink:active {
  color: #15cdfc;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 0.25rem;
}
.navbtn {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.btnlink {
  width: 96px;
  height: 44px;
  border-radius: 20px;
  background: #256ce1;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 14px;
  text-align: center;
  line-height: 40px;
}

.btnlink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

.user {
  width: 96px;
  height: 44px;
  border-radius: 20px;
  background: #256ce1;
  color: #fff;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 14px;
  text-align: center;
  line-height: 40px;
}

.bars {
  display: none;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .menu {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    top: 80px;
    width: 100%;
    transition: 0.4s;
    z-index: 11;
    background: #111827;
    border-left: 1px solid white;
  }

  .menu.show {
    display: flex;
    top:80px;
  }

  .navlink {
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid white;  
  }
  
  .navbtn {
    margin-right: 50px;
  }

  .btnlink {
    width: 80px;
    height: 44px;
  }

  .bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-75%, 140%);
    font-size: 1.4rem;
    cursor: pointer;
  }


}